<h1>About Me</h1>

<div class="row">
    <div class="col">
        <img class="profile-pic" src="/images/Jared-Davey-pic.webp" alt="Jared Davey">
    </div>
    <div class="col">
        My name is Jared Davey. I'm from Lindon, UT, and I'm 28 years old. I'm a Software Engineering major, and I'm set to graduate at the end of this year, assuming all goes well. My dream job would probably be working at Family Search along with my dad.<br>
        I got married last August, and along with my wife, I enjoy being a nerd. I like playing Magic: the Gathering, Dungeons and Dragons, Nintendo games, X-Box games, and the like. Something interesting about me is that I have a condition called Ehlers-Danlos Syndrome, or EDS. Among other things, it makes my joints very loose, so I'm pretty hyperflexible, but it can make my joints hurt, which is why I walk with a cane.
    </div>
</div>