<section id="about-me">
    <h1>Jared Davey</h1>
    <img src="images/Jared-Davey-pic.webp" alt="Jared Davey">
    <p>My name is Jared Davey. I'm from Lindon, UT, and I'm 28 years old. I'm a Software Engineering major, and I'm set to graduate at the end of this year, assuming all goes well.</p>
    <p> I got married last August, and along with my wife, I enjoy being a nerd. I like playing Magic: the Gathering, Dungeons and Dragons, Nintendo games, X-Box games, and the like.</p>
</section>